@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

// header
header,
.homeTop {
  background-color: #171c24;
  height: 70px;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  nav .nav-item {
    transition: .3s;
  }

  .logo {
    color: white;
  }

  .nav-cart {
    display: none;
  }
}

.homeTop {
  background-color: transparent;
  transition: .3s;
}

nav .nav-items {
  display: flex;
  gap: 40px;
}

nav .nav-items a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

nav .menu-icon,
nav .cancel-icon {
  width: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .menu-icon span,
nav .cancel-icon {
  display: none;
}

/////////////

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .myVideo,
  .mySecondVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .mySecondVideo {
    display: none;
  }

  .homeText {
    margin-bottom: 80px;
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .homeLink {
    border: 1px solid white;
    padding: 12px 40px;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    transition: .4s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);

      nav.menu-icon {
        color: black !important;
      }
    }
  }
}

#products {
  .products {

    img {
      margin: 0 auto;
      width: 250px;
      height: 250px;
    }

    .card {
      border: 2px solid rgb(210, 201, 201);
    }

    .buyBtn {
      background-color: rgb(9, 104, 60);
    }

    .readDetailsBtn {
      background-color: rgb(13, 77, 174);
    }
  }

  .inputFinder {
    border: 1px solid rgb(179, 175, 175);
    border-radius: 5px;
    padding: 6px 15px;
  }

  .cloth-type {
    button {
      border: 1px solid black;
      text-transform: capitalize;
      padding: 10px 15px;
      border-radius: 5px;
      transition: .2s;
      width: 170px;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  .dropdown {
    position: relative;
    display: none;

    &Btn {
      border: 1px solid gray;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .dropdownContent {
      display: none;
      position: absolute;
    }

    &:hover {
      .dropdownContent {
        display: block;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        button {
          display: block;
          border-radius: 0;
          border: none;
        }
      }
    }
  }
}

#product {
  margin-top: 10vh;

  img {
    max-width: 500px;
    width: 100%;
    max-height: 400px;
    height: 100%;
  }

  .toCartBtn {
    border: 1px solid black;
    border-radius: 6px;
    transition: .2s;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

#cart {
  min-height: 100vh;
  padding: 100px 0;
  background-color: #e9e9e9;

  .left {
    width: 60%;

    .productInfo {
      width: 75%;
    }

    .productImg {
      width: 25%;

      display: flex;
      justify-content: center;

      img {
        min-width: 150px;
        max-height: 150px;
      }
    }
  }

  .right {
    width: 40%;
  }

  .cartProduct {
    border: 1px solid rgb(164, 164, 164);
    background-color: white;
  }

  .toShoppingBtn {
    border: 1px solid rgb(14, 93, 14);
    color: green;
  }

  .paymentBtn {
    background-color: rgb(14, 93, 14);
    color: white;

    &:disabled {
      background-color: rgb(82, 117, 82);
    }
  }

  .countBtn {
    color: white;
    background-color: rgb(99, 98, 98);
    background-color: rgb(146, 142, 142);
    font-size: 14px;
    padding: 0 5px;
    border: 1px solid black;

    &:disabled {
      background-color: rgb(176, 172, 172);
    }
  }

  .productCount {
    .amount {
      width: 50px;
      padding: 10px;
      background-color: #f3f3f3 !important;
      text-align: center;
      border: 1px solid black;
    }
  }

  .fa-trash {
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 6px;
    transition: .3s;

    &:hover {
      background-color: rgb(114, 8, 8);
    }
  }

  .productTotalPrice p {
    width: 40px;
  }
}

// loading
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(23, 162, 184);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 300px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// loading end

@media (max-width: 1140px) {
  nav .logo {
    flex: 2;
    text-align: center;
  }

  .nav-cart {
    display: block !important;
  }

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }

  nav .nav-items.active {
    left: 0px;
  }

  nav .nav-items a {
    font-size: 20px;
    margin: 30px 0;
    display: block;
    line-height: 40px;
  }

  nav .menu-icon {
    display: block;
  }

  nav .menu-icon span {
    display: block;
  }

  nav .menu-icon span.hide {
    display: none;
  }

  nav .cancel-icon.show {
    display: block;
  }

  .cart {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .homeTop {
    padding: 20px 0 !important;
    height: 72px !important;

    .header {
      flex-direction: row-reverse;
    }
  }

  #cart {
    .left {
      width: 55%;

      .productImg {
        width: 40%;
      }

      .productInfo {
        width: 60%;
      }
    }

    .right {
      width: 45%;
    }
  }
}

@media screen and (max-width:991px) {
  .container {
    padding: 0 30px;
  }

  #product img {
    max-width: 400px;
    max-height: 300px;
  }
}

@media screen and (max-width:767px) {
  #product img {
    max-width: 300px;
  }

  #products {
    .cloth-type {
      display: none;
    }

    .dropdown {
      display: inline-block;
    }

    input {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .cartProduct {
    position: relative;
    flex-direction: column;
    align-items: normal;
    gap: 50px;

    .left,
    .right {
      width: 100% !important;
    }

    .left {
      .productInfo {
        width: 60%;
      }
    }

    .right {
      .removeProductFromCart {
        display: none;
      }

      .removeItem-2 {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: red;
      }
    }
  }
}

@media screen and (max-width:576px) {
  .logo {
    font-size: 20px;
  }

  .container {
    padding: 0 12px;
  }

  .products img {
    max-width: 200px;
    max-height: 150px;
  }

  #home {
    align-items: normal;

    .myVideo {
      display: none;
    }

    .mySecondVideo {
      display: block;
    }

    .homeText {
      margin: 200px 0 0 0;
    }
  }

  #cart {

    .cartList {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .left {
      flex-direction: column;
      gap: 10px;

      .productInfo {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width:376px) {
  .container {
    padding: 0 8px;
  }

  nav .menu-icon,
  nav .cancel-icon {
    font-size: 16px;
  }
}